@import url("https://cdn.bootcdn.net/ajax/libs/element-plus/1.0.2-beta.53/theme-chalk/index.css");


.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 995px;
  margin: auto;
}
.el-header {
  background: white;
  border-bottom: 1px solid #dcdfe6;
}
.el-main {
  background: whitesmoke;
}
.el-aside {
  background: #badfdf;
}
.el-footer {
  color: #606266;
}
.el-footer a {
  color: #409eff;
}
